In [15]:
import pandas as pd
import numpy as np

from scipy.optimize import linprog, minimize

# https://www.youtube.com/watch?v=M7ZA9fq2zCE

In [23]:
df = pd.DataFrame({'from':[1,1,1,1,2,2,2,2,3,3,3,4,4,4],
             'to':[3,4,5,6,3,4,5,6,4,5,6,3,5,6],
             'cost':[8,13,25,28,15,12,26,25,6,16,17,6,14,16],
             'capacity':[100,100,100,100,100,100,100,100,100,100,100,100,100,100]})

df['flow'] = np.NaN

In [24]:
df

    from  to  cost  capacity  flow
0      1   3     8       100   NaN
1      1   4    13       100   NaN
2      1   5    25       100   NaN
3      1   6    28       100   NaN
4      2   3    15       100   NaN
5      2   4    12       100   NaN
6      2   5    26       100   NaN
7      2   6    25       100   NaN
8      3   4     6       100   NaN
9      3   5    16       100   NaN
10     3   6    17       100   NaN
11     4   3     6       100   NaN
12     4   5    14       100   NaN
13     4   6    16       100   NaN

In [29]:
df_in_out = pd.DataFrame({'in-out':df.groupby('from')['flow'].sum() - df.groupby('to')['flow'].sum()})
df_in_out

   in-out
1     NaN
2     NaN
3     0.0
4     0.0
5     NaN
6     NaN

In [30]:
total_cost = np.sum(df['flow'] * df['cost'])
total_cost

0.0

In [31]:
c = [-1, 4]
A = [[-3, 1], [1, 2]]
b = [6, 4]
x0_bounds = (None, None)
x1_bounds = (-3, None)
res = linprog(c, A_ub=A, b_ub=b, bounds=[x0_bounds, x1_bounds])

C:\Users\joeba\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:86: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

In [32]:
res

     con: array([], dtype=float64)
     fun: -21.99999984082497
 message: 'Optimization terminated successfully.'
     nit: 6
   slack: array([3.89999997e+01, 8.46872172e-08])
  status: 0
 success: True
       x: array([ 9.99999989, -2.99999999])