# Smart Meter Analysis

In [1]:
import pandas as pd
import numpy as np

In [14]:
dirpath = r'C:\Users\joeba\OneDrive\Documents\ML\smart meter'

In [15]:
d1 = pd.read_csv(dirpath+'/account hourly reads.csv')
print(d1.head())

   Distinct User ID  21/10/2019  22/10/2019  23/10/2019  24/10/2019  \
0   800030033053980          24           0           0           0
1   800030039680440          24           0           0           0
2   800030039691310          24          24          24          24
3   800030039691610          72           0           0           0
4   800030039691790          48           0           5          48

   25/10/2019  26/10/2019  27/10/2019
0           0           0           0
1           0           0           0
2          24          24          24
3           0           0           0
4          48          48          48

In [18]:
d1 = d1[d1['21/10/2019'] == 24]
print(d1.head())

   Distinct User ID  21/10/2019  22/10/2019  23/10/2019  24/10/2019  \
0   800030033053980          24           0           0           0
1   800030039680440          24           0           0           0
2   800030039691310          24          24          24          24
5   800030039691840          24          24          24          24
6   800030039698870          24          24          24          24

   25/10/2019  26/10/2019  27/10/2019
0           0           0           0
1           0           0           0
2          24          24          24
5          24          24          24
6          24          24          24

In [20]:
uid = d1[['Distinct User ID']]
uid.head()

   Distinct User ID
0   800030033053980
1   800030039680440
2   800030039691310
5   800030039691840
6   800030039698870

In [16]:
d2 = pd.read_csv(dirpath+'/load profile data.csv')
print(d2.head())

         Date Start  time  End time  Trading period  KWh per hour  \
0  21/10/2019    00:00:00  01:00:00               0           0.6
1  21/10/2019    01:00:00  02:00:00               1           0.6
2  21/10/2019    02:00:00  03:00:00               2           0.6
3  21/10/2019    03:00:00  04:00:00               3           0.6
4  21/10/2019    04:00:00  05:00:00               4           1.2

           User ID
0  800030033053980
1  800030033053980
2  800030033053980
3  800030033053980
4  800030033053980

In [23]:
d2u = uid.merge(d2, left_on='Distinct User ID', right_on='User ID', how='left')
d2u

,Distinct User ID,Date,Start time,End time,Trading period,KWh per hour,User ID
0,800030033053980,21/10/2019,00:00:00,01:00:00,0,0.6,800030033053980
1,800030033053980,21/10/2019,01:00:00,02:00:00,1,0.6,800030033053980
2,800030033053980,21/10/2019,02:00:00,03:00:00,2,0.6,800030033053980
3,800030033053980,21/10/2019,03:00:00,04:00:00,3,0.6,800030033053980
4,800030033053980,21/10/2019,04:00:00,05:00:00,4,1.2,800030033053980
...,...,...,...,...,...,...,...
18982,800060050746880,21/10/2019,19:00:00,20:00:00,19,108.8,800060050746880
18983,800060050746880,21/10/2019,20:00:00,21:00:00,20,106.4,800060050746880
18984,800060050746880,21/10/2019,21:00:00,22:00:00,21,76.0,800060050746880
18985,800060050746880,21/10/2019,22:00:00,23:00:00,22,72.0,800060050746880
18986,800060050746880,21/10/2019,23:00:00,24:00:00,23,95.2,800060050746880

In [24]:
d2u.to_csv(dirpath+'/d2u21Oct2019.csv')